body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.firstcontainer {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.header {
    display:flex;
    justify-content: center;
    margin: 20px 20px;
    gap: 10px 900px;
    flex-wrap: wrap;
}

.body {
    display:flex;
    justify-content: center;
    margin: 0px 20px;
    margin-bottom: 80px;
    gap: 10px 520px;
    flex-wrap: wrap;
}

.listlinks {
    display: flex;
    gap: 20px;
}

button {
    background-color: #3882f6;
    border-radius: 12px;
    border: 0px;
    padding: 8px 35px;;
    color: #F9FAF8;
    font-size: 18px;
    font-weight: 800;
}

ul {
    list-style-type:none;
    margin: 0;
    padding: 0;
}

a,
.secondarytext {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 800;
    flex-shrink: 0;
}

.maintext {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 800;
}

.content {
    width: 400px;
}

.secondarytext {
    margin-bottom: 10px;
}

.image {
    display: flex;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 250px;
    background-color: rgb(153,153,153);
    color: #F9FAF8;
}

/* styling for second section starts here */

.secondcontainer {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 80px;
}

.random {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    color:#1f2937;
    font-weight: 800;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 70px;
    margin: 0 20px;
}

.card {
    display: flex;
    flex-direction: column;
    width: 175px;
    height: 275px;
    font-size: 18px;
    color: #1f2937;
    text-align: center;
}

.box {
    width: 175px;
    height: 175px;
    border: 5px solid #3882f6;
    border-radius: 25px;
    margin-bottom: 10px;
}

/* styling for third section starts here */

.thirdcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
}

.quote {
    display: flex;
    flex-direction: column;
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1f2937;
    width: 800px;
    margin: 0px 20px;
    margin-top: 150px;
    gap: 30px;
}

.author {
    font-size: 24px;
    font-weight: 800;
    color: #1f2937;
    margin-bottom: 150px;
    align-self: flex-end;
    padding-right: 40px;
}

/* styling for fourth section starts here */

.fourthcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    margin: 0 20px;
}

.classtoaction {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    background-color: #3882f6;
    width: 1000px;
    height: 200px;
    border-radius: 12px;
    border: 0px;
    padding: 0 20px;
}

.toptext {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
    text-align: left;
}

.bottomtext {
    font-size: 18px;
    color: #F9FAF8;
    text-align: left;
}

.right {
    border: 1px solid #F9FAF8;
}

/* styling for fifth section starts here */

.fifthcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
}

.footer {
    font-size: 18px;
    color: #E5E7EB;
    padding: 40px;
}
